<% include partials/header %>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>This is the dashboard!</h1>
            </div>
            <div class="col-md-12">
                <a class="btn btn-primary" href="/income/new">Add an Income!</a>
                <a class="btn btn-primary" href="/expense/new">Add an Expense!</a>
            </div>
            <div class="col-md-12">
                <ul>
                    <% user.incomes.forEach(function(income){ %>
                        <li><%= date.format(income.date, 'MMM DD YYYY') %>: <%= income.type %> - <%= income.amount %></li>
                    <% }); %>
                </ul>
            </div>
        </div>
    </div>

<% include partials/footer %>