<% include partials/header %>
    <div class="container">
        <div class="jumbotron">
            <h1>Welcome to Budgeter!</h1>
            <p>An app that helps you track your expenses and secure your financial future!</p>
            <p><a class="btn btn-success text-center" href="/signup">Sign Up Now!</a></p>
            <p><a class="btn btn-primary text-center" href="/login">Login</a></p>
        </div>
    </div>

<% include partials/footer %>